<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body>
    <div class="login">
        <h1 style="background-color:DodgerBlue;">Boston House Price Prediction</h1>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}" method="post">
            <label for="fname">Per capita crime rate by town:</label><br>
            <input type="text" name="CRIM" placeholder="CRIM" required="required" /><br>
            <label for="fname">First proportion of residential land zoned for lots over 25,000 sq.ft:</label><br>
            <input type="text" name="ZN" placeholder="ZN" required="required" /><br>
            <label for="fname">proportion of non-retail business acres per town:</label><br>
            <input type="text" name="INDUS" placeholder="INDUS" required="required" /><br>
            <label for="fname">Charles River dummy variable:</label><br>
            <input type="text" name="CHAS" placeholder="CHAS" required="required" /><br>
            <label for="fname">nitric oxides concentration pp10m:</label><br>
            <input type="text" name="NOX" placeholder="NOX" required="required" /><br>
            <label for="fname">average number of rooms per dwelling:</label><br>
            <input type="text" name="RM" placeholder="RM" required="required" /><br>
            <label for="fname">proportion of owner-occupied units built prior to 1940:</label><br>
            <input type="text" name="Age" placeholder="Age" required="required" /><br>
            <label for="fname">weighted distances to five Boston employment centres:</label><br>
            <input type="text" name="DIS" placeholder="DIS" required="required" /><br>
            <label for="fname">index of accessibility to radial highways:</label><br>
            <input type="text" name="RAD" placeholder="RAD" required="required" /><br>
            <label for="fname">full-value property-tax rate per $10,000:</label><br>
            <input type="text" name="TAX" placeholder="TAX" required="required" /><br>
            <label for="fname">pupil-teacher ratio by town:</label><br>
            <input type="text" name="PTRATIO" placeholder="PTRATIO" required="required" /><br>
            <label for="fname">1000(Bk - 0.63)^2 where Bk is the proportion of black people by town:</label><br>
            <input type="text" name="B" placeholder="B" required="required" /><br>
            <label for="fname">Median value of owner-occupied homes in $1000's:</label><br>
            <input type="text" name="LSTAT" placeholder="LSTAT" required="required" /><br>
            



            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

        <br>
        <br>


    </div>
    {{prediction_text}}

</body>

</html>